<h1>Want to know more about us?</h1>
<p> 
   Our southern vintage company welcomes you to come and explore our site!  We offer an amazing selection of paints!
   We have a bunch of items on our site for you to enjoy!  
   Mayberry Grove first started in the small southern state  South Carolina! 
   We only have been opened for a few weeks and we already starting to grow such as adding more products! 
   Displayed below is a list of our hours! Feel free to call us or email us at anytime! 
   As we care deeply about our customers! 
   For more information please visit our Contact page where you can contact us personally! 
   Happy Shopping! 
</p> 
<h1>Store Hours</h1> 
<table> 
   <tr> 
      <th>Day</th> 
      <th>Time</th> 
   </tr> 
   <tr> 
      <td>Monday-Wednesday</td> 
      <td>8:00am - 7:00pm</td> 
   </tr> 
   <tr> 
      <td>Thursday</td> 
      <td>9:00am - 7:00pm</td> 
   </tr> 
   <tr> 
      <td>Friday-Saturday</td> 
      <td>10:00am - 9:00pm</td> 
   </tr> 
   <tr> 
      <td>Sunday</td> 
      <td>Closed</td> 
   </tr> 
</table> 
